langfuse==3.9.3
fastapi==0.116.2
asyncpg==0.30.0
livekit~=1.0.13
livekit-api~=1.0.5
PyJWT==2.10.1
tenacity>=8.2.3,<10.0.0
alembic==1.16.5
redis==5.3.1
uvicorn==0.35.0
aioboto3==15.1.0
arq==0.26.3
twilio==9.8.0
minio==7.2.16
alembic-postgresql-enum==1.8.0
python-multipart==0.0.20
sentry-sdk[fastapi]==2.38.0
sqlalchemy[asyncio]==2.0.43
msgpack==1.1.2
